#thunho{
    max-width: 400px;
    height: 50px;
}
.form1{
    margin-left: 50px;  
}
#update{
    display: none;
}
.donhang{
    display: none;
}
.admin_left {
width: 400px;
height: 969px;
left: 0;
background-color: #4158D0;
background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

position: fixed;
}

.p_head a,
.p_content p,
.p_content a,
.p_footer a {
color: white;
}

.p_head {
text-align: center;
font-size: 25px;
padding-top: 20px;
padding-bottom: 20px;
cursor: pointer;
}

.p_content {
width: 85%;
margin: 0 auto;
}

.p_padding {
padding-top: 20px;
padding-bottom: 20px;
cursor: pointer;
}

:active.p_padding {
color: yellow;
}

.p_border {
border: 1px solid white;
}

.p_head>a {
text-decoration: none;
}

.p_footer {
width: 50px;
height: 50px;
border: 1px solid white;
border-radius: 100%;
margin-left: 180px;
text-align: center;
margin-top: 20px;
cursor: pointer;
}

.p_footer>a>i {
padding-top: 15px;
}
.nen{
    background-color: #FF9A8B;
    background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
    ;
display: none;
}
.khachhang{
display: none;
}
.bill{
display: none;
}
#tbl1{background-color: #FF9A8B;
    background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
    }
#tbl2{
    background-color: #FF9A8B;
background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
}